@import url(notification.css);
@import url(presentation.css);

/* dark orange #d82f0c */
/* light orange #f84d2a */
:root {
	--primary-light: #f84d2a;
	--primary-dark: #d82f0c;
	--white: #fff;
}

* {
	margin: initial;
}

body, button {
	font-family: "Montserrat";
}

.background {
	width: 100%;
	scale: -1 1;
	display: block;
}

.title {
	position: absolute;
	top: 0;
	z-index: 1;
	margin-left: 6rem;
	margin-top: 12rem;
}

.title h1 {
	display: inline-block;
	color: var(--white);
	font-size: 6rem;
	background-color: #00000070;
	font-style: italic;
}

.title h2 {
	margin-top: 2rem;
	color: var(--white);
	font-size: 2rem;
	background-color: #00000070;
	font-style: italic;
}

ion-icon {
	display: block;
}