h3, h4 {
	font-family: "Abril Fatface";
	letter-spacing: 1px;
}

h3.menu {
	display: inline-block;
	font-size: 2.5rem;
	letter-spacing: 2px;
	margin-bottom: 2rem;
	position: relative;
	z-index: 0;
}

h3.menu::before {
	content: "";
	background-color: #f84d2a70;
	bottom: 4px;
	height: 18px;
	width: 100%;
	z-index: -1;
	position: absolute;
	left: 0;
	transform: skewX(-15deg);
}